# Database Configuration
DATABASE_URL="postgresql://username:password@host:port/database_name?sslmode=require"
SHADOW_DATABASE_URL="postgresql://username:password@host:port/shadow_database_name?sslmode=enabled"
NODE_TLS_REJECT_UNAUTHORIZED=0

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Application Port
PORT=8080

# DB Connection settings
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=your_db_name
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# Google Cloud Storage Configuration
GCS_BUCKET_NAME=your_gcs_bucket_name
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/gcs-service-account-key.json
GCP_PROJECT_ID=your_gcp_project_id
GCP_CLIENT_EMAIL=your_gcp_service_account_client_email
GCP_PRIVATE_KEY="your_gcp_service_account_private_key"

# Auth Client IDs
GOOGLE_WEB_CLIENT_ID=your_google_web_client_id

# Firebase Admin SDK Configuration
FIREBASE_ADMIN_KEY_SAFAI_SECRET=/path/to/your/firebase/serviceAccountKey.json
FIREBASE_ADMIN_KEY_SAFAI=/path/to/your/firebase/serviceAccountKey.json

# JWT Authentication Secrets
JWT_SECRET="your_jwt_secret"
REFRESH_SECRET="your_refresh_secret"

# Token Expiry settings
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="30d"

# SMTP Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password

# Frontend URL Configuration
FRONTEND_URL=http://localhost:8100
